/* styling for the app class */
body {
 
}


.container { 
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
#appName {
  display: flex;
  justify-content: center;
}

#title{
  display: flex;
  justify-content: center;
}
.allColumns{
  display: grid;
  grid-template-rows: 50px 250px 10px 150px 40px;
  grid-template-columns: 200px;
  border: 1px solid black;
  height: 500;
  width: 200;
}
.columnHead{
  text-align: center;
  
  
}
.taskBox {
  grid-row :4
}
.name{
 
  margin: 40;
  width: 150;
  height: 20;
}

.task{
  
  width: 180;
  height: 60;
  margin: 10
}

.button{
  display: flex;
  margin-left: 110;
  grid-row: 5;
  width: 78;
  height: 22; 
  
}
.individualTicket{
  background-color: gray;
  border: 1px solid black;
}